{% extends 'main.html' %}

{% block mainblock %}
<body>
    <section class="section">
        <div class="card-body">
            <div class="container">
                <h1 class="text-center">
                    Newsfeed Portal
                </h1>
            </div>

            <div class="form-row">
                <div class="col">
                    <h4>Search Country</h4>
                    <form action="" method="get">
                        <input type="text" name="country">
                        <button type="submit" value="Search">Search</button>
                    </form>
                </div>
                <div class="col">
                    <h4>Search Source</h4>
                    <form action="" method="get">
                        <input type="text" name="source">
                        <button type="submit" value="Search">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% if user.is_authenticated %}
            <a class="btn btn-danger m-1" href="/signout"> SignOut</a>
            
            {% else %}
            <a class="btn btn-primary m-1" href="/signup"> SignUp</a>
            <a class="btn btn-success m-1" href="{% url 'signin' %}"> SignIn</a>
            
            {% endif %}
        </div>
    </section>
    <section class="section" style="margin-left: 20rem;">
        <div class="container">
            <div class="row">
                <div class="col-md-16">
                    {% for i in articles %}

                        <div class="card rounded shadow-lg m-2" style="width: 45rem;">
                            <img src="{{ i.urlToImage }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">{{ i.author }}</p>
                                <h5 class="card-title">{{ i.title }}</h5>
                                <p class="card-title"><b>{{ i.source.name }}</b></p>
                                <p class="card-text">{{ i.description }}</p>
                                <hr>
                                <small><b>Pubished at:</b> {{ i.publishedAt }}</small>
                                <a href="{{ i.url }}" target="_blank" class="btn btn-success m-1">See News</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>  
            </div>
        </div>
    </section>
    {% endblock %}

    {% block footerblock %}
    {% endblock %}
    
</body>