<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>SignUp</title>

    <!-- CSS CUSTOM -->
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'style.css' %}"/>
</head>
<body>
    <div id="signin-form-wrap">
        <h2>SignUp Form</h2>

        <form action="/signup" method="post" id="signin-form">
        {% csrf_token %}
            <p>
                <input type="text" name="username" id="username" placeholder="Create Username" required>
            </p>
            <p>
                <input type="text" name="fname" id="fname" placeholder="First Name" required>
            </p>

            <input type="text" name="lname" id="lname" placeholder="Last Name" required>
            <br>

            <p>
                <input type="email" name="email" id="email" placeholder="Email" required>
            </p>

            <p>
                <input type="password" name="pass1" id="pass1" placeholder="Password" required>
            </p>

            <p>
                <input type="password" name="pass2" id="pass2" placeholder="Confirm Password" required>
            </p>

            <p>
                <button type="submit" id="signin">SignUp</button>
            </p>
        </form>
        <div id="create-account-wrap">
            <p>Already Signed Up? <a href="/signin">SignIn Here</a><p>
        </div>
    </div>
</body>
</html>