{% extends 'authentication/main.html' %}

{% block mainblock %}
<body>
    <div id="signin-form-wrap">
        <h2>SignIn Here</h2>

        <form action="{% url 'signin' %}" method="post" id="signin-form">
        {% csrf_token %}
            <p>
                <input type="text" name="username" id="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
            </p>

            <p>
                <input type="password" name="password" id="password" placeholder="Password" required><i class="validation"><span></span><span></span></i>
            </p>

            <p>
                <button type="submit" id="signin">SignIn</button>
            </p>
        </form>
        <div id="create-account-wrap">
            <p>Not registered yet? <a href="/signup">SignUp Here</a><p>
            <p><a href="/password_reset">Forgot password?</a><p>
        </div>
    </div>
</body>
{% endblock %}