<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <title>SignIn</title>
    
    <!-- CSS CUSTOM -->
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'style.css' %}"/>
</head>
<body>
    <div id="signin-form-wrap">
        <h2>SignIn Here</h2>

        <form action="/signin" method="post" id="signin-form">
        {% csrf_token %}
            <p>
                <input type="text" name="username" id="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
            </p>

            <p>
                <input type="password" name="pass1" id="password" placeholder="Password" required><i class="validation"><span></span><span></span></i>
            </p>

            <p>
                <button type="submit" id="signin">SignIn</button>
            </p>
        </form>
        <div id="create-account-wrap">
            <p>Not registered yet? <a href="/signup">SignUp Here</a><p>
        </div>
    </div>
</body>
</html>